<link rel="stylesheet" href="~/css/createhome.css" />

<div class="main_page col-12">
    <div class="detail_page col-10">
        <h1 class="col-12">Create New To-Do Item</h1>
        <form action="/Home/Create" class="form_name col-12" method="post">
            <label for="person_name" class="col-12">Your Name:</label>
            <input class="input_name col-12" type="text" id="person_name" name="Name" required />
            <button type="submit" class="btn btn-primary btn_form">Create</button>
        </form>
    </div>
</div>