<link rel="stylesheet" href="~/css/home.css" />

<div class="main_page col-12">
    <div class="welcome_page">
        <h1 class="h_welcome">Welcome</h1>
        <p class="p_welcome">Start organizing your tasks and stay productive!</p>
        <p class="p_welcome">Get started by creating your first to-do item.</p>
        <a href="/Home/Create" type="button" class="btn btn-primary">Create New To-Do Item</a>
    </div>
</div>